[submodule "external/eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "external/smhasher"]
	path = external/smhasher
	url = https://github.com/aappleby/smhasher
[submodule "external/pcg-cpp"]
	path = external/pcg-cpp
	url = https://github.com/imneme/pcg-cpp
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json
