[submodule "external/eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "external/doctest"]
	path = external/doctest
	url = https://github.com/onqtam/doctest
[submodule "external/hilbert"]
	path = external/hilbert
	url = https://github.com/adishavit/hilbert
[submodule "external/vmdstream"]
	path = external/vmdstream
	url = https://github.com/askeys/vmdstream
