# Custom

# Ignore all
external/nauty27r1

build/*
.ropeproject/*
plt/dump/*
*compile_commands.json
*.idx
*.pdf
*.xyz
*.npy

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
